services/CNN_GrennerTech.ipynb
services/DataYellow/**
services/best_modelV2.pth
services/my_model.pt
services/Data/**
services/images/*
backend/static/images/*
robot/jetson/robot_ref.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables and credentials
.env
.env.*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask specific
instance/
*.db
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Docker
*.log
docker-compose.override.yml
__pypackages__/

# Others
*.bak
*.swp


./front-end-ui/node_modules/
/node_modules/